//SITE SETTINGS 

$primaryColor:#2A3865;
$secondaryColor: #0c101e;
$ternaryColor:#6F80BA;
$black:#000;
$white:#FFF;
$pink:#E8356B;
$orange: #FE9075;
$light-grey:#F1F5F6;
$grey:#B6B6B6;

$primaryFont:'Paytone One', sans-serif;
$secondryFont:'Montserrat', sans-serif;

$max-width:1160px;
$max-width-alt:900px;

$break-small: 768px;
$break-medium: 1025px;

@mixin responsive($media) {
    @if $media == tablet {
      @media only screen and (min-width: $break-small) { @content; }
    }
    @else if $media == tablet-landscape {
      @media only screen and (min-width: $break-small) and (orientation: landscape) { @content; }
    }
    @else if $media == laptop {
      @media only screen and (min-width: $break-medium) { @content; }
    }
  }
  /*@include responsive(tablet) { }*/