.first_title{
    font-size: 30px;
    color: $pink;
    font-family: $primaryFont;
    text-align: center;
    @include responsive(tablet){
        font-size: 48px;
    }  
}



.about_one{
    width: 100%;
    height: 65vh;
    overflow: hidden;
    @include gradiant(); 
        .one_container_title{
            position: absolute;
            z-index: 5;
            width:90%;
            left:50%;
            top:35%;
            max-width: 1180px;
            transform: translate(-50%, -50%);
            font-size:3rem;
            line-height: 2.5rem;
            font-weight: 700;
            color: $white;
            font-size: 32px;
            font-family: $secondryFont;
            @include responsive(tablet){
                font-size: 42px;
                line-height: 3.5rem;
                top:37%;
            }
            }
        .nasa{
            position: relative;
            z-index:1;
            display: block;
            object-fit: cover;
            width:100%;
            height: 100%;
            opacity: 0.5;
            }
        
        }

.about_two{
    width: 90%;
    margin: auto;
    text-align: center;
    @include responsive(tablet){
        width: 70%;
        padding: 70px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .about_two_container_box{
        text-align: center;
        h1{
            font-size: 72px;
            font-family: $secondryFont;
            color:$primaryColor;
        }
        p{
            font-size: 24px;
            font-family: $secondryFont;
            color:$pink; 
            font-weight: bolder;
        }
        @include responsive(tablet){
            width: 40%;
        }
    }
 
}

.about_three{
    margin-top: 100px;
    h1{
        font-size: 48px;
        color: $pink;
        font-family: $primaryFont;
        font-weight: 900;
        text-align: center;
    }
    .about_three_container{
        width: 80%;
        margin: 60px auto;
        box-shadow: 7px 7px 15px $light-grey;
        @include responsive(tablet){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 150px auto;
        }
        .about_three_container_image{
            overflow: hidden;
            @include responsive(tablet){
                width: 50%;
            }  
        }
        .about_three_container_content{
            width: 90%;
            text-align: center;
            @include responsive(tablet){
            width: 50%;
            padding: 30px;
            text-align: left;
            }
            h1{
                font-size: 22px;
                font-family: $secondryFont;
                color:$primaryColor; 
                font-weight: 900;
                @include responsive(tablet){
                    font-size: 32px;
                    }
            }
            p{
                font-size: 15px;
                font-family: $secondryFont;
                color:$grey; 
                line-height: 25px;
            }
        }
      
    }
}

.variable-width{
    margin-left: 120px;
    margin-bottom: 120px;
.slick_variable_box{
    box-shadow: 3px 3px 15px $light-grey;
    height: 500px;
    margin:30px 50px;
    position: relative;
    background-color: $primaryColor;
    p{
       color: $white;
        font-size: 15px;
        font-family: $secondryFont;
        font-weight: bold;
        line-height: 25px;
        padding: 20px 40px;
    }
    h1{
        color: $pink;
        font-size: 24px;
        font-family: $primaryFont;
        padding:0 20px;
        line-height: 25px;
        font-weight: 900;
        padding-top: 100px;
    }
    h3{
        color: $white;
        font-family: $secondryFont;
        opacity:0.2;
        font-size: 100px;
        position: absolute;
        top:-67px;
        left:-20px;
    }
}
&:after{
    content:'';
    display: block;
    width:20vw;
    height: 100%;
    position: absolute;
    right:0;
    top:0;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}
}

button.slick-next{
    z-index: 10;
    position: absolute;
    bottom: -5px;
    right: 0;
    padding: 30px;
    border:none;
    background-color: $pink;
    color: $white;
    background-image: url(assets/images/arrow-right-white.png)
}

button.slick-prev{
  opacity: 0;
}





.about_five{
    @include responsive(laptop){
        max-width: 1280px;
        margin: auto;  
    }
    
  
    .about_five_box{
        @include responsive(tablet){
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;  
        }
        .resonsive_non{
            display: none;
            @include responsive(tablet){
                display: block;
                width: 10%;
            }
        }
        .about_five_box_team{
            box-shadow: 3px 3px 15px $light-grey;
            margin: 20px;
            text-align: center;
            overflow: hidden;
            @include responsive(tablet){
                width: 18%;
            }
            h1{
                font-size: 20px;
                color: $pink;
                font-family: $primaryFont;
                margin-bottom: 0;
                margin-top: 40px;
            }
            p{
                font-size: 15px;
                font-family: $secondryFont;
                color:$grey; 
                margin: 0;
            }
            h2{
                text-transform: uppercase;
                color: $primaryColor;
                font-size: 12px;
                font-weight: 900;
                line-height: 25px;
                margin-bottom: 20px;
    
            }
        }
        .about_five_box_next{
            background-color: $primaryColor;
            margin: 20px;
            @include responsive(tablet){
                width: 18%;
            }
            h1{
                color:$white;
                font-size: 20px;
                line-height: 30px;
                text-align: center;
                padding: 120px 20px
            }
        }
    }
}

.about_six{
    width:100%;
    @include responsive(tablet){
        margin-top: 150px;
    }
    .about_six_content{
        width:90%;
        margin: 60px auto;
        text-align: center;
        @include responsive(tablet){
            width:70%;
        }
        p{
            font-size: 16px;
            line-height: 25px;
            font-family: $secondryFont;
            margin: 30px;
            font-weight: bold;
            color: $black;
            opacity: 0.7;
        }
    }
    iframe{
        display: block;
        width: 60%;
        height:  100%;
        margin: auto;
        @include responsive(tablet){
            height:  583px;
            }
    }
}

