
.career_one{
    background-image: linear-gradient(to right, #12131b, #171b2c, #1b233e, #1f2b51, #213464, #213464, #213464, #213464, #1f2b51, #1b233e, #171b2c, #12131b),;
    width:100%;
    position: relative;
    overflow: hidden;
    height: 50vh; 
    z-index: -5;
    @include responsive(tablet){
        height: 60vh;
    } 
    .about_one_container{
        width: 80%;
        margin: auto;
            .about_one_container_title{
            color: white;
            font-family: $secondryFont;
            font-size: 30px; 
            text-align: center;
            font-weight: bold;
            @include responsive(tablet){
                margin-top: 120px;
                font-size: 48px;
                padding-top: 50px;
            } 
        }

        .about_one_container_p{
            width: 100%;
            margin: auto;
            @include responsive(tablet){
                width: 50%;
                margin: auto;
            } 
            p{
                color:white;
                opacity: 0.8;
                font-family: $secondryFont;
                font-size: 18px;
                line-height: 25px;
                text-align: center;
            }
        }
                .nasa{
                overflow: hidden;
                z-index: -3;
            -webkit-animation: kenburns-top 160s ease-out both;
            animation: kenburns-top 160s ease-out both;
            @include responsive(tablet){
                top:-150px;
                position: absolute;
                margin: auto;
                width: 90%;
                left:5%;
                }
            }
        }
}

.career_two{
    width: 80%;
    margin: 60px auto;
    .career_two_box_first{
        @include responsive(tablet){
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            }
        .career_two_box_first_item{
          background-color: $light-grey;
          text-align: center;
          h1{
              font-size: 72px;
              color: $primaryColor;
              font-family: $secondryFont;
          }
          p{
            font-size: 20px;
            color:  $pink;
            font-family: $secondryFont;
            font-weight: bold;
            @include responsive(tablet){
                padding: 20px 80px;
                }
          }
            @include responsive(tablet){
                width: 45%;
                }
           }
    }
    .career_two_box{
        background-color: $light-grey;
        padding: 30px;
        margin-top: 30px;;
        h1{
            font-size: 18px;
            color: $primaryColor;
            font-family: $secondryFont;
        }
        .career_two_box_cnt{
            @include responsive(tablet){
                display:flex;
                flex-direction: row;
                justify-content: space-around;
                }
               .career_two_box_cnt_logo{
                display:flex;
                flex-direction: row;
                justify-content: space-between;
                p{
                    font-size: 20px;
                    color:  $pink;
                    font-family: $secondryFont;
                    font-weight: bold;
                }
               } 
        }
    }

}

.career_map{
    position: relative;
    h1{
        font-size: 36px;
        color: $primaryColor;
        font-family: $primaryFont;
        text-align: center;
        padding: 20px;
        @include responsive(tablet){
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translate(-50%, -50%);
            }
  
    }
    .carte{
      
        img{
            max-width: 100%;
            max-height: 100vh;
            margin: auto;
        }
    }
}

.career_postes{
    width:80%;
    margin:auto;
    .career_postes_title{
        position: relative;
        margin: 20px 0;
        @include responsive(tablet){
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .career_postes_title_left{
            @include responsive(tablet){
                position: absolute;
                top:-100px;
                left:0;
            }
            p{
                font-size: 11px;
                color:  $pink;
                font-family: $secondryFont;
                font-weight: bold;
            }
        }
        .career_postes_title_right{
            @include responsive(tablet){
                position: absolute;
                top:-100px;
                right:0;
            }
            background-color: $light-grey;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 30px;
            p{
                color:$grey;
                font-size: 11px;
                font-family: $secondryFont;
                margin-right: 10px;
                font-weight: bold;
            }
        }
    }
    .career_postes_cont{
        @include responsive(tablet){
            display:flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .career_postes_cont_boxes{
            width: 90%;
            box-shadow: 5px 5px 15px $light-grey;
            @include responsive(tablet){
                width: 30%;
            }
            .career_postes_cont_boxes_top{
                position: relative;
                p{
                    position: absolute;
                    background-color: $primaryColor;
                    padding: 5px;
                    color:$white;
                    right:0;
                    top:0;
                    margin: 0;
                }
                img{
                    width:100%;
                }
            }
            .career_postes_cont_boxes_bottom{
                padding: 20px;
                p{
                    color: $primaryColor;
                    font-size: 11px;
                    font-family: $secondryFont;
                    font-weight: bold;
                }
                h1{
                    color: $pink;
                    font-size: 24px;
                    font-family: $secondryFont;
                    margin-bottom: 90px;
                }
            }
        }
    }
}

.voir-plus{
    display: block;
    text-align: center;
    text-decoration: none;
    color:$grey;
    font-size: 11px;
    font-family: $secondryFont;
    font-weight: 900;
    margin: 60px;
}

.career_candidat{
    background-color: $primaryColor;
    width: 100%;
    .career_candidat_title{
        text-align: center;
        width: 90%;
        margin: 30px auto;
        padding: 30px 0;
        @include responsive(tablet){
            padding: 60px;
            width: 70%;
        }
        h1{
            color:$white;
            font-size: 36px;
            font-family: $primaryFont;
            line-height: 50px;
        }
    }
}

.career_evoluer{
    .career_evoluer_content{
        width:90%;
        margin: 60px auto;
        text-align: center;
        @include responsive(tablet){
            width:60%;
            margin: 120px auto;
        }
        h1{
            color: $pink;
            font-size: 30px;
            font-family: $primaryFont;
            line-height: 50px;
            @include responsive(tablet){
                font-size: 48px;
            }
        }
        p{
            font-size: 16px;
            font-family: $secondryFont;
            line-height: 25px;
            font-weight: bold;
        }
    }
   
}

.slick_box{
    box-shadow: 3px 3px 15px $light-grey;
    height: 480px;
    margin:30px 60px;
    position: relative;
    p{
       opacity: 0.4;
        font-size: 12px;
        font-family: $secondryFont;
        font-weight: bold;
        line-height: 20px;
        padding: 20px 40px;
    }
    h1{
        color: $pink;
        font-size: 18px;
        font-family: $secondryFont;
        padding:20px 40px;
        line-height: 25px;
        font-weight: 900;
    }
    img{
        position: absolute;
        top:0;
        z-index: -1;
    }
}

button.slick-next{
    position: absolute;
    bottom: -5px;
    right: 0;
    padding: 30px;
    border:none;
    background-color: $pink;
    color: $white;
}

button.slick-prev{
  opacity: 0;
}

.career_etapes{
    width: 100%;
    background-color: $primaryColor;
    .career_etapes_container{
        width:90%;
        margin: auto;
        padding: 60px 0;
        @include responsive(tablet){
            width:60%;
        }
        h1{
            color: $white;
            font-size: 30px;
            font-family: $primaryFont;
            text-align: center;
            @include responsive(tablet){
                font-size: 48px;
            }
        }
        .career_etapes_container_box{
            @include responsive(tablet){
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .career_etapes_container_box_top{
                position: relative;
                width: 90%;
                margin: auto;
                text-align: center;
                @include responsive(tablet){
                    width: 30%;
                    text-align: left;
                    text-align: left;
                }
                h2{
                    color:$white;
                    opacity: 0.1;
                    font-size: 200px;
                    font-family: $secondryFont;
                    margin: 0;
                }
                p{
                    color: $pink;
                    font-size: 18px;
                    font-family: $secondryFont;
                    line-height: 25px;
                    font-weight: 900; 
                    position: absolute;
                    bottom: 20px;
                }
            }
        }
        .career_etapes_container_box{
            @include responsive(tablet){
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .career_etapes_container_box_bottom{
                position: relative;
                width: 90%;
                margin: auto;
                text-align: center;
                @include responsive(tablet){
                    width: 30%;
                    text-align: left;
                }
                p{
                    color:$white;
                    opacity: 0.8;
                    font-size: 12px;
                    font-family: $secondryFont;
                    line-height: 20px;
                }
            }
        }

    }
}

.career_process{
width:100%;
background-color: $pink;
    .career_process_container{
        width: 90%;
        margin: auto;
        padding: 20px 0;
        @include responsive(tablet){
            width:60%;
            padding: 60px;
        }
        p{
            color:$white;
            font-size: 18px;
            font-family: $secondryFont;
            line-height: 30px;
            font-weight: bold;
            text-align: center;
        }
    }
}

.career_talent{
    width: 100%;
    .career_talent_container{
        width:90%;
        margin: auto;
        text-align: center;
        padding: 60px 0;
        @include responsive(tablet){
            width:60%;
        }
        h1{
            color: $primaryColor;
            font-size: 30px;
            font-family: $primaryFont;
            line-height: 50px;
            @include responsive(tablet){
                font-size: 48px;
            }
        }
        p{
            font-size: 16px;
            font-family: $secondryFont;
            line-height: 30px;
            padding: 20px 0;
        }
    }
}

.career_rh{
    width: 100%;
    background-color: #F8FAFA;
    padding: 60px 0;
    .career_rh_container{
        width: 80%;
        margin: auto;
        padding: 30px 0;
        @include responsive(tablet){
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
        }
      
        .career_rh_container_box_top{
            position: relative;
            text-align: center;
            p{
                position: absolute;
                bottom: -45px;
                padding: 13px 40px;
                background-color: white;
                color:$grey;
                font-size: 11px;
                font-family: $secondryFont;
                transform: translate(-50%, -50%);
                left: 50%;
                box-shadow: 0px 3px 6px $light-grey;
            }
        }
        .career_rh_container_box_bottom{
            margin-top: 20px;
            text-align: center;
            h1{
                color:$primaryColor;
                font-size: 16px;
                font-family: $secondryFont;
                font-weight: bold;
            }
            p{
                color:$grey;
                font-size: 14px;
                font-family: $secondryFont;
                font-weight: bold;
            }
        }
    }
}

.career_form{
    widows: 100%;
    margin: 30px 0;
    @include responsive(tablet){
        margin: 90px 0;
    }
    .wpcf7{
        width:90%;
        margin: auto;
        overflow: hidden;
        @include responsive(tablet){
            width:60%;
        }
        input{
           color:$grey;
            font-size: 15px;
            font-family: $secondryFont;
            font-weight: bold;
            padding-left: 10px;
         }
         textarea{
            color:#8C8C8C;
            font-size: 15px;
            font-family: $secondryFont;
            font-weight: bold;
            width: 100%; 
            padding-left: 10px;
         }
         .wpcf7-form-control{
            border:none;
            background-color:#F8FAFA;
        }
        .box1{
            align-items: center;
            @include responsive(tablet){
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }
            .wpcf7-form-control{
                padding: 20px 5px;
            }
           
        }
        .box2{
            @include responsive(tablet){
                display:flex;
                flex-direction: row;
                justify-content: space-between;
            }
            align-items: center;
            .wpcf7-form-control{
                padding: 20px 5px;
            }
        }
        .wpcf7-radio{
            background-color: $white;
        }
        .wpcf7-list-item-label{
            font-size: 15px;
            line-height: 25px;
            padding-left:60px;
            font-family: $secondryFont;
            background-color: $white;
        }
        .wpcf7-submit{
           display: block;
           margin:10px auto;
            background-color:$pink;
            color:$white;
            border: none;
            border-radius: 50px;
            font-size: 16px;
            font-family: $secondryFont;
            font-weight: bold;
            width: 150px;
            height: 50px;
        }
    }
}