.data_solutions{
    width:90%;
    margin:auto;
    @include responsive(tablet){
        width:70%;
        margin:auto;
    }
       
    .data_soltions_box{
        margin-top: 60px;
        @include responsive(tablet){
            display:flex;
            flex-basis: row;
            margin: 60px;
        }
        .data_service_image{
            width: 100%;
            @include responsive(tablet){
                width: 25%;
            }
                img{
                width:100%; 
                height:100%; 
                object-fit:cover; 
                }
     
        }
            .data_service_box_content{
                padding: 20px;
                background-color: $light-grey;
                text-align: center;
                @include responsive(tablet){
                    width: 75%;
                    padding: 60px;
                    text-align: left;
                }

                .service_title{
                    color: black;
                    opacity: 0.6;
                    font-weight: bold;
                    font-size: 32px;
                    font-family: $secondryFont; 
                    margin: 0;
                }

                .data_soltions_box_content_list{
                    padding-left: 30px;
                    li{
                        color:$primaryColor;
                        font-size: 14px;
                        line-height: 30px;
                        list-style-type: none;
                        position: relative;
                        img{
                            width: 10px;
                            left: -20px;
                            position: absolute;
                            top:9px;
                        }
                    }
                
                }
            }
    }
}