
.bis{
    background-image: linear-gradient(to right, #12131b, #171b2c, #1b233e, #1f2b51, #213464, #213464, #213464, #213464, #1f2b51, #1b233e, #171b2c, #12131b),;
    width:100%;
    position: relative;
    overflow: hidden;
    z-index: -5;
    @include responsive(tablet){
        height: 50vh; 
        }
    .kenburns-top {
        top:0;
        left:0;
        position: absolute;
        overflow: hidden;
        z-index: -3;
       -webkit-animation: kenburns-top 160s ease-out both;
       animation: kenburns-top 160s ease-out both;
       @include responsive(tablet){
        top:-150px;
        margin: auto;
        width: 90%;
        left:5%;
        }
    }
    .one_container_title{
        width: 80%;
        margin: auto;
        text-align: center;
        margin-top: 5%;
        @include responsive(tablet){
            width: 60%;
        }
        h1{
            font-size: 35px;
            color: $white;
            font-family: $primaryFont;
            font-weight: 900;
            margin: 0;
            @include responsive(tablet){
            font-size: 72px;
            }
        }
        .text-data{
            font-size: 20px;
            color: $white;
            opacity: 0.7;
            line-height: 30px;
            font-family: $secondryFont;
            z-index: 5;
        }

    }

  }

.data_menu{
    background-color: $primaryColor;
    width: 100%;
    padding: 40px 0;
    .menu-sub-menu-container{
        margin: auto;
        width: 70%;
        .menu{
            margin: 0;
            list-style-type: none;
            padding: 0;
            @include responsive(tablet){
                display:flex;
                flex-direction: row;
                justify-content: space-around;
            }
            .current_page_item {
                a{
                    color:$pink;
                }
            }
            li{
                flex-basis: 100%;
                text-align: center;
                @include responsive(tablet){
                    border-right: 1px solid $secondaryColor;
                } 
            }
            a{
                    color:$white;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 16px;
                    font-family: $secondryFont;
                    font-weight: bold;
                    max-width: 20px;
                }
        
        }
    }
}



.projet{
    margin: 60px;
    .projet_container{
        text-align: center;
        @include responsive(tablet){
            padding: 20px 0;
            background-color: $primaryColor;
            width:740px;
            border-radius: 60px;
            margin: 60px auto;
        }
        h1{
            color:$primaryColor;
            font-size: 24px;
            font-family: $secondryFont;
            font-weight: lighter;
            @include responsive(tablet){
            color:$white;
            }
        }
    }
}



.toggle{
    width: 90%;
    margin: 90px auto;
    @include responsive(tablet){
        display:flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .toggle_left{
        text-align: center;
        @include responsive(tablet){
            width: 40%;
        }
        .current{
            color: $pink;
        }
    }
    .toggle_right{
        @include responsive(tablet){
            width: 60%;
        }
        .container_toggle{
            margin:20px;
        }
        .domain{
            padding: 5px 20px;
            background-color: $light-grey;
            font-size: 20px;
            font-family: $secondryFont;
            font-weight: bold;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            @include responsive(tablet){
                padding: 15px 40px;
                font-size: 32px;
            }
            .arrow-close{
                display: block;
                width: 15px;
                height: 10px;
            }
            .arrow-open{
                display:none;
            }
        }
        .current{
            background-color: $pink;
            color:$white;
        }
        .sub-domain{
            display: none;
            padding: 0 30px;
        }
        .current{
            display:block;
            background-color: $pink;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            flex-wrap:wrap;
            padding-bottom: 30px;
        
            .sub-domain-item{
                width: 100px;   
                margin: 10px;
                text-align: center;
                font-size: 12px;
                font-family: $secondryFont;
                font-weight: bold;
                .loupe{
                    background-color: white;
                    border-radius: 50%;
                    padding: 20px; 
                   
                }
            }
            a{
                width:100%;
                background-color: $primaryColor;
                color: $white;
                font-size: 9px;
                font-family: $secondryFont;
                padding: 10px;
                text-align: center;
                text-decoration: none;

            }
            .arrow-close{
               display:none;
            }
            .arrow-open{
                display: block;
                width: 15px;
                height: 10px;
            }
        
        }
    }
}