.btn{
    background-color:$pink;
    color:$white;
    border: none;
    border-radius: 20px;
    font-size: 10px;
    font-family: $secondryFont;
    font-weight: bold;
    width: 191px;
    height: 40px;
}

.link{
    text-decoration: none;
    padding: 13px 70px;
    margin-top: 5px;
}