header{
    width: 80%;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    margin: auto;
    position: relative;
    .logo{
        display: block;
        width:115px;
        height: auto;

    }
    .container_menu{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end ;
        align-items:center;
        .searchbar{
            margin-left: 60px;
            color: $primaryColor;
        }
        .menu-navmenu-container{
            display: none;
            @include responsive(tablet) {
                display: block;
                width: 80%;
            }
            .menu{
                list-style: none;
                @include responsive(tablet) {
                display: flex;
                flex-direction: row;
                justify-content: space-between ; 
               
                &:hover{
                    .sub-menu{
                        display: block;
                        position: absolute;
                        bottom: -150px;
                        background-color: rgba(white, 0.9);
                        padding: 20px;
                        padding-top: 40px;
                            li{
                                list-style: none;
                                line-height: 30px;
                                font-family: $secondryFont;
                                font-size: 12px;
                            }
                
                    }
                }
                }
         
                .sub-menu{
                   display: none;
                }
                a{
                    text-decoration: none;
                    color: $primaryColor;
                    font-size: 12px;
                    cursor: pointer;
                    &:hover{
                        color: $pink;
                    }
                }
                   
            }
        }
        .is-active{
            display: block;
            height: 100vh;
            text-align: center;
            width:100vw;
            padding: 20px 15px;
            display: block;
            position: fixed;
            top: 96px;
            right: 0;
            background-color: $primaryColor;
            list-style:none;
            .menu{
                li{
                    padding: 40px;
                        a{
                            color:$white;
                            font-size: 18px;
                            font-family: $secondryFont;
                        }
                    }
                    .sub-menu{
                        display: none;
                    }
            }
        }
    }
}
/*hamburger-menu*/
.hamburger{
    position: absolute;
    top: 0;
    right: 5px;
}

